.panel {
    .category {
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        padding: 0 11px;
        .building {
            cursor: grab;
            border-radius: 0px;
            margin: 0 8px 8px 0;
        }
    }
    .section-title {
        margin-bottom: 12px;
        margin-left: 13px;
    }
}