:host {
    display: flex;
    align-items: center;
    height: 40px;
}

.clan-list {
    display: flex;
    flex-direction: column;
}

.selected {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background: url(../../../../assets/images/button09.png);
    width: 132px;
    margin-left: 4px;
    padding-left: 6px;
    box-sizing: border-box;
    &:hover {
        filter: brightness(1.2);
    }
}

.clan-icon {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    img {
        width: 100%;
    }
}

.dropdown {
    .clan-list {
        position: absolute;
        z-index: 11;
        width: 180px;
        background: #43566a;
        border: 1px solid #171e26;
        box-shadow: 0px 0 0 1px #808a9d, 0px 2px 4px 2px #171e26;
        border-radius: 3px;
        button {
            display: flex;
            align-items: center;
            &:first-child {
                border-top: none;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
    .overlay {
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        z-index: 1;
    }
}