.panel {
    .category {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        padding: 0 11px;
        .relic {
            cursor: grab;
            border-radius: 0px;
            flex-shrink: 0;
            margin-right: 16px;
        }
    }
    .section-title {
        margin-bottom: 12px;
        margin-left: 13px;
    }
    .action-item {
        display: flex;
        align-items: center;
        line-height: 1.58;
        margin-bottom: 16px;
        .name {
            color: #f1f8ff;
            font-weight: bold;
            font-size: 13px;
        }
    }
}